<div class="message">
  <div class="line-bc">
    <% if current_user.id == message.user_id %>
      <div class="balloon6">
        <div class="faceicon">
          <%= image_tag("zenigame") %>
        </div>
        <div class="chatting">
          <div class="user-name">
            <%= message.user.name %>
          </div>
          <div class="says">
            <p><%= message.content %></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="mycomment">
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>
