<div class="message">
  <div class="line-bc">
    <div class="balloon6">
      <div class="faceicon">
        <%= image_tag("zenigame") %>
      </div>
      <div class="chatting">
        <div class="user-name">
          <%= message.user.name %>
        </div>
        <div class="says">
          <p><%= message.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>
