<div class="message">
  <div class="line-bc"><!--①LINE会話全体を囲う-->

    <!--③右コメント始-->
    <div class="mycomment">
      <p>
        右ふきだし文
      </p>
    </div>
    <!--/③右コメント終-->

  </div><!--/①LINE会話終了-->
</div>
