<section id="chat-container">
  <div id="messages">
    <%= render @messages %>
  </div>

  <form class="chat-form">
    <input type="text" id="chat-input"/>
    <input type="hidden" id="current-user-id" value="<%= current_user.id %>">
  </form>
</section>
